body {

        background-color: rgba(212, 243, 255, 0.356);
      font-family: Arial, Helvetica, sans-serif;
    }

    .top-div{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        height: 700px;
        box-shadow:  0 0 10px 5px rgba(0, 0, 0, 0.534);
    }

    /* Add a black background color to the top navigation */
    .topnav {
        width: 100%;
        height: 80px;
        background-color: rgba(74, 163, 185, 0.541);
        overflow: hidden;
      }
      .topnav button{
          background-color: transparent;
          border:0px;
          outline: none;
          font-size: 30px;
          padding-right: 0px;
      }
      .topnav label{
        font-family: Arial, Helvetica, sans-serif;
      }
      /* Style the links inside the navigation bar */
      .topnav a {
        float: left;
        color: black;
        text-align: center;
        padding: 14px 16px;
        margin-top: 5px;
        text-decoration: none;
        font-size: 25px;
      }
      .topnav a:nth-last-child(1) ,.topnav a:nth-last-child(2) {
        float: right;
      }
      .topnav a:not(:first-child) {
        font-family: Arial, Helvetica, sans-serif;
      }
      .topnav  a:nth-child(2),.topnav  a:nth-child(3) {
        margin-left: 20px;
      }
      /* Change the color of links on hover */
      .topnav a:not(:first-child):hover {
        background-color: #ddd;
        color: black;
        transition: 0.2s;
      }

      /* Add a color to the active/current link */
      .topnav a.active {
        background-color: rgba(0, 0, 0, 0.425);
        color: white
      }







      .main {
        background-color: #FFFFFF;
        width: 400px;
        height: 400px;
        margin: 7em auto;
        border-radius: 1.5em;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    }

    .sign {
        padding-top: 40px;
        color: #373737;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        font-size: 25px;
    }

    .un {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: Arial, Helvetica, sans-serif;
    }

    form.form1 {
        padding-top: 40px;
    }

    .pass {
            width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: Arial, Helvetica, sans-serif;
    }


    .un:focus, .pass:focus {
        border: 2px solid rgba(0, 0, 0, 0.18);

    }

    .submit {
      cursor: pointer;
        border-radius: 5em;
        color: #fff;
        background: linear-gradient(to right, grey, darkgrey);

        border: 0;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
      font-family: Arial, Helvetica, sans-serif;
        margin-left: 35%;
        font-size: 13px;
        font-weight: 600;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    }

     .forgot {
        text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
        color: #373737;
        padding-top: 15px;
    }

    a {
        text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
        color: #E1BEE7;
        text-decoration: none
    }

    .foreground h1{
      transition: width .35s ease-in-out;
     text-align: center;
     color: black;
     text-shadow: 1px 1px 1px rgb(248, 243, 243);
     font-family: Arial, Helvetica, sans-serif;
     font-weight: lighter;
     margin-top: 240px;
     font-size: 60px;
     background-color: rgba(0, 0, 0, 0.11);
  }
  





  .bottom-div{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: 320px;
    background-color: rgb(45, 46, 43);
    box-shadow:  0 0 10px 5px rgba(0, 0, 0, 0.534);
}

img {
    display: block; 
    margin-left: 15%;
    max-width: 100%;  /* Responsive */ 
  } 
.footer-distributed{
	background: rgb(83, 83, 83);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	font: bold 16px sans-serif;
	text-align: left;
	padding: 50px 60px 40px;
	overflow: hidden;
}

section {
  width: 100%;
  display: inline-block;
  background: #ccc;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}


/* Footer left */

.footer-distributed .footer-left{
	float: left;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Roboto', cursive;
	margin: 0 0 10px;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer social icons */

.footer-distributed .footer-icons{
	margin-top: 40px;
}
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  inherit;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* Footer Right */

.footer-distributed .footer-right{
	float: right;
}

.footer-distributed .footer-right p{
	display: inline-block;
	vertical-align: top;
	margin: 15px 42px 0 0;
	color: #ffffff;
}

/* The contact form */

.footer-distributed form{
	display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea{
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color:  #1f2022;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
	resize: none;

	font: inherit;
	font-size: 14px;
	font-weight: normal;
	color:  #d1d2d2;

	width: 400px;
	padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
	color:  #5c666b;
}

.footer-distributed ::-moz-placeholder {
	color:  #5c666b;
	opacity: 1;
}

.footer-distributed :-ms-input-placeholder{
	color:  #5c666b;
}


.footer-distributed form input{
	height: 55px;
	margin-bottom: 15px;
}

.footer-distributed form textarea{
	height: 100px;
	margin-bottom: 20px;
}

.footer-distributed form button{
	border-radius: 3px;
	background-color:  #33383b;
	color: #ffffff;
	border: 0;
	padding: 15px 50px;
	font-weight: bold;
	float: right;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 1000px) {

	.footer-distributed {
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-company-name{
		font-size: 12px;
	}

	.footer-distributed form input,
	.footer-distributed form textarea{
		width: 250px;
	}

	.footer-distributed form button{
		padding: 10px 35px;
	}

}

@media (max-width: 800px) {

	.footer-distributed{
		padding: 30px;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		float: none;
		max-width: 300px;
		margin: 0 auto;
	}

	.footer-distributed .footer-left{
		margin-bottom: 40px;
	}

	.footer-distributed form{
		margin-top: 30px;
	}

	.footer-distributed form{
		display: block;
	}

	.footer-distributed form button{
		float: none;
	}
}

    @media (max-width: 600px) {
        .main {
            border-radius: 0px;
        }
